{
    "env": {
        "mocha": true
    },
    "parserOptions": {
        "sourceType": "strict",
    },
    "rules": {
        "no-param-reassign": [2, {
            "props": false
        }],
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
    },
    "extends": "airbnb-base"
}
