{
    "env": {
        "mocha": true
    },
    "rules": {
        "no-param-reassign": [2, {
            "props": false
        }],
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
        "no-plusplus": "off",
        "class-methods-use-this": "off",
    },
    "extends": "airbnb-base"
}
